<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

        <!--<constructor-arg name="client" ref="client"/>-->
    <!--</bean>-->
    <bean id="elasticSearchClient" class="com.boneix.mystory.client.ElasticSearchClient">
        <property name="host">
            <value>@{elasticsearch.host}</value>
        </property>
        <property name="port">
            <value>@{elasticsearch.port}</value>
        </property>
        <property name="clusterName">
            <value>@{elasticsearch.clusterName}</value>
        </property>
    </bean>


</beans>