<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boneix.dks.domain.InitInfo">
    <resultMap type="com.boneix.dks.domain.InitInfo" id="initInfo">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="currentValue" column="current_value" jdbcType="INTEGER"/>
        <result property="deleteFlag" column="delete_flag" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="base_Column_List">
		id,
		current_value,
		delete_flag,
		create_time
	</sql>


    <select id="queryCurrentValue" parameterType="Long" resultType="Long">
		select
		current_value
		from
		init_info where sys_id = #{sysId}
	</select>

    <select id="querySystemCount" parameterType="Long" resultType="Integer">
        select
        COUNT(1)
        from
        init_info where sys_id = #{sysId}
    </select>

    <select id="confirmSystem" parameterType="com.boneix.dks.domain.SystemsInfoVo" resultType="Integer">
        select
        COUNT(1)
        from
        init_info ii left JOIN sys_info si on ii.sys_id=si.id AND ii.sys_id=#{id} AND ii.current_value=#{currentValue} WHERE si.authority_code=#{authorityCode}
    </select>



    <update id="updateCurrentValue" parameterType="java.util.Map">
        UPDATE
        init_info
        <set>
            <if test="newValue != null">
                current_value = #{newValue}
            </if>
        </set>
        <where>
            <trim prefixOverrides="and">
                and sys_id = #{sysId}
                AND delete_flag=0
            </trim>
        </where>
    </update>

    <update id="deleteById" parameterType="Long">
        UPDATE
        init_info
        <set>
            delete_flag = 1
        </set>
        <where>
            <trim prefixOverrides="and">
                and sys_id = #{sysId}
            </trim>
        </where>
    </update>

    <insert id="insert" parameterType="com.boneix.dks.domain.InitInfo" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO init_info
        <trim prefix="(" suffix=")" prefixOverrides="," suffixOverrides=",">
            sys_id,
            <if test="systemName != null">
                sys_name,
            </if>
            <if test="currentValue != null and currentValue != 0 ">
                current_value,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" prefixOverrides="," suffixOverrides=",">
            #{sysId},
            <if test="systemName != null">
                #{systemName},
            </if>
            <if test="currentValue != null and currentValue != 0">
                #{currentValue},
            </if>
        </trim>
    </insert>
</mapper>