<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="systemParamInit" class="com.boneix.dks.property.SystemParamInit">
        <property name="keyWarningRang">
            <value>@{key.warning.rang}</value>
        </property>
        <property name="keyProduceRang">
            <value>@{key.produce.rang}</value>
        </property>
    </bean>


</beans>